.fundo{
    height: 100vh;
    width: 100%;
    background-image: url(C:\Users\rafae\Desktop\Cardápio\cardapio\src\components\pages\home\images\3c650a149986773eb80c4a91a4139c48.jpg);
    background-size: 100%;
}