.footer{
    display: flex;
    justify-content: center;
    
    background-color: #222;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    position: fixed;
    
    
    

}
.iten1 {
    display: flex;
    margin-left: 0 auto;
    cursor: pointer;  
    
}
.iten2 {
    display: flex;

    padding-left: 5px;

    cursor: pointer;  
    
}
.iten2 a:visited{
    color: white
}
.iten1 a:visited{
    color: white
}
.iten1 a:hover{
    color: #ffbb33
}
.iten2 a:hover{
    color: #ffbb33
}
.iten3 a:visited{
    color: white
}
.iten4 a:visited{
    color: white
}
.iten3 a:hover{
    color: #ffbb33
}
.iten4 a:hover{
    color: #ffbb33
}
.iten3{
position:absolute;
    right: 80px;
    
}
.iten4{
    position:absolute;
        right: 100px;
        
    }

