.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:khaki;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.centralizar{
  flex:1;
  text-align: center;
  background-image: url(C:\Users\rafae\Desktop\Cardápio\cardapio\src\components\pages\home\images\madeira-de-marrons-claro-imagem-de-fundo.jpg)
}
.lateralEsquerda{
  flex:1;
  width: 20%;
  height: auto;
  background-color: gray;
  
  
}
.lateralDireita{
  flex:1;
  width:20%;
  height: auto;
  background-color: gray;
 
  
}
.Meio{
  
  width:60%;  
  height: 100%;
  align-items: center;
  
  
  
  
}
.divCompleta{
   
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: auto;


    
}
